[user]
	email = ahuertas@opennebula.systems
	name = Alejandro Huertas
	signingkey = D827909F3D0DBDD4D9A1DCA84079E5D6AEFA09E1
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	ps = push
	pl = pull
	br = branch
	df = diff
	ad = add
[commit]
	gpgsign = true
