[user]
	email = ahuertas@opennebula.systems
	name = Alejandro Huertas
	signingkey = 90361512274A9488D4831C578A6C10664E6EF2A5
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	ps = push
	pl = pull
	br = branch
	df = diff
	ad = add
[commit]
	gpgsign = true
