[pull]
  rebase = true
[user]
	email = ahuertas@opennebula.io
	name = Alejandro Huertas
	signingkey = 85878F2E763782B7A75362433044AF06BE405104
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	ps = push
	pl = pull
	br = branch
	df = diff
	ad = add
[commit]
	gpgsign = true
