[user]
	email = cherrera@opennebula.systems
	name = Carlos Herrera
	signingkey = 67ADB0DD427D0B97
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	ps = push
	pl = pull
	br = branch
	df = diff
	ad = add
[alia]
	sst = status
[commit]
	gpgsign = true
