[submodule "ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim

[submodule "nerdtree"]
    path = .vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree

[submodule "lightline.vim"]
    path = .vim/bundle/lightline.vim
    url = https://github.com/itchyny/lightline.vim

[submodule "vim-better-whitespace"]
    path = .vim/bundle/vim-better-whitespace
    url = https://github.com/ntpeters/vim-better-whitespace

[submodule "Vundle.vim"]
    path = .vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim

[submodule "vim-buftabline"]
    path = .vim/bundle/vim-buftabline
    url = https://github.com/ap/vim-buftabline

[submodule "vim-gitbranch"]
    path = .vim/bundle/vim-gitbranch
    url = https://github.com/itchyny/vim-gitbranch
