[user]
	email = ahuertas@opennebula.systems
	name = Alejandro Huertas
	signingkey = 5DCCF28D76C231FD
[alias]
	st = status
	co = checkout
	cp = cherry-pick
	ci = commit
	ps = push
	pl = pull
	br = branch
	df = diff
	ad = add
[alia]
	sst = status
[commit]
	gpgsign = true
